<!doctype html>

{% load compress %}
{% load core_extra %}

<html>
<head>

    <title>{% block title %}Django Task Manager{% endblock %}</title>
    <html lang="en"><head>

	<meta http-equiv="content-type" content="text/html; charset=UTF-8">

	<!-- HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Meta data -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<!-- CSS Stylesheets -->

	<link href="{{ STATIC_URL }}desktop/css/report_css.css" type="text/css" rel="stylesheet">
	<link href="{{ STATIC_URL }}desktop/css/colorful.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}desktop/css/styles.css" rel="stylesheet" type="text/css">

	<link href="{{ STATIC_URL }}desktop/lib/fontawesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="{{ STATIC_URL }}desktop/lib/ui/jquery-ui.min.css" rel="stylesheet" type="text/css">

	<!--[if lte IE 8 ]><link href="http://reboot.mypad.in/addons/shared_addons/modules/reports/themes/tracker/css/ie-fixes/lteIE8.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if IE 7 ]><link href="http://reboot.mypad.in/addons/shared_addons/modules/reports/themes/tracker/css/ie-fixes/IE7.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if IE 8 ]><link href="http://reboot.mypad.in/addons/shared_addons/modules/reports/themes/tracker/css/ie-fixes/IE8.css" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if IE 9 ]><link href="http://reboot.mypad.in/addons/shared_addons/modules/reports/themes/tracker/css/ie-fixes/IE9.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<!--[if lt IE 7 ]>
		<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->

	<link href="{{ STATIC_URL }}desktop/css/print.css" rel="stylesheet" type="text/css" media="print">

	<!--Scripts-->

	<script type="text/javascript" src="{{ STATIC_URL }}desktop/lib/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}desktop/lib/ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}desktop/lib/moment.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}desktop/lib/csrf-ajax-cookie.js"></script>
    </head>
	<body>
        {{ config.ANALYTIC_BODY_START | safe }}
        <div id="shadow"></div>
	    <div class="topbar-wrapper" style="z-index: 5;">
		<div class="navbar navbar-inverse navbar-fixed-top" data-dropdown="dropdown">
		    <div class="container navbar-inner">

		      	<div style="display: inline-block"><a class="brand" href="/">Django Task Manager</a></div>

		      	<ul class="nav"> 
					<li><a href="#">Menu point</a></li>
		      	</ul>
		   		<ul class="nav pull-right">
			        <li class="dropdown">
			          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
			        </li>
		     	 </ul>

		      
		    </div>
		</div><!-- /topbar -->
		</div><!-- /topbar-wrapper -->

		{% block content %}
		{% endblock %}
		<script src="{{ STATIC_URL }}desktop/js/actions.js" type="text/javascript"></script>
        {{ config.ANALYTIC_JS | safe }}
	</body>
</html>