				<div class="for-edit report-title">
					<input type="text" value="{{ task.title }}" name=""><label> Report title</label>
				</div> 

				<div class="for-edit report-description">
					<input type="text" value="{{ task.description }}" name=""><label> Report description</label>
				</div>
							<hr/>

				{% if task.keywords %}
							<div class="details details-right">
								<div class="details-description">Keywords</div>
								<div class="for-info keywords">
								{% for keyword in task.keywords.all %}
									<span id="keyword{{ keyword.pk }}" class="keyword">{{ keyword.name }}</span>
								{% endfor %}
								</div>
								<div class="for-edit keywords">
									{% for keyword in task.keywords.all %}
										<span data-id="{{ keyword.pk }}" class="keyword keywords"><i class="fa fa-times key" aria-hidden="true"></i>{{ keyword.name }}</span>
									{% endfor %}
									<input class="keyword-input" type="" name=""><button class="add-keyword">Add keyword</button>
								</div>
							</div>
				{% endif %}
				{% if task.additional_activity %}
						<div class="details details-right">
								<div class="details-description">Additional activity</div>
								<div class="for-info activity">{% for activity in task.additional_activity.all %}<p class="additional-activity{{activity.pk}}">{{ activity.title }}</p>{% endfor %}</div>
								<div class="for-edit activity">
								<i class="fa fa-plus add-activity" aria-hidden="true"></i>
								{% for activity in task.additional_activity.all %}<p id="activity-select{{activity.pk}}" class="additional-activity-select"><span>{{ activity.title }}</span> <i class="fa fa-times delete-activity" aria-hidden="true"></i> </p>{% endfor %}
									
								</div>
							</div>
				{% endif %}
				{% for detail in task.details.all %}
						{% if detail.task_date %}
							<div class="details details-left">
									<div class="for-info date">
										<div class="details-description">{{ detail.description }}</div>
										<div class="details-date">{{ detail.task_date }}</div>
									</div>
									<div data-pk="{{ detail.pk }}" class="for-edit date">
										<i class="fa fa-times" aria-hidden="true"></i>
										<input class="date-description" value="{{ detail.description }}" type="text" name="">
										<input class="date-input" id="datepicker{{ detail.pk }}" data-value="{{ detail.task_date|date:'c' }}" style='border: 1px solid; width: 100px; height: 25px;'>
									</div>
							</div>
						{% endif %}
						{% if detail.number %}
							<div class="details details-left">
								<div class="for-info number">
									<div class="details-description">{{ detail.description }}</div>
									<div class="details-number">{{ detail.number }}</div>
								</div>
								<div data-pk="{{ detail.pk }}" class="for-edit number">
									<i class="fa fa-times" aria-hidden="true"></i>
									<input class="number-description" type="text" value="{{ detail.description }}">
									<input class="number-input" type="text" value="{{ detail.number }}">
								</div>
							</div>
						{% endif %}
						{% if detail.text %}
							<div class="details details-right">
							<div class="for-info text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-text">{{ detail.text}}</div>
							</div>
								<div data-pk="{{ detail.pk }}" class="for-edit text">
									<i class="fa fa-times" aria-hidden="true"></i>
									<input class="text-description" type="text" value="{{ detail.description }}">
									<textarea class="text-input" type="text" value="{{ detail.text }}"></textarea>
								</div>
							</div>
						{% endif %}
						{% if detail.long_text %}
							<div class="details details-right">
							<div class="for-info long-text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-long-text">{{ detail.long_text}}</div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit long-text">
									<i class="fa fa-times" aria-hidden="true"></i>
									<input class="long-text-description" type="text" value="{{ detail.description }}">
									<textarea class="long-text-input" type="text">{{ detail.long_text }}</textarea>
							</div>
							</div>
						{% endif %}
						{% if detail.attachment %}
							<div class="details details-right">
							<div class="for-info attachment">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-attachment"><a href="{{ detail.attachment.url }}">{{ detail.attachment_name }}</a></div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit attachment">
								<i class="fa fa-times" aria-hidden="true"></i>
								<input class="attachment-description" value="{{ detail.description }}" type="text" name="">
								<input class="attachment-input" type="file" name="attachment">
							</div>
							</div>
						{% endif %}

				{% endfor %}