{% extends 'base.html' %}
{% load core_extra %}
{% block content %}



<div class="container page-container reports-list">

<div class="row">

<div class="reports-container">	
{% for year in years %}

	<h1>{{ year.year }}</h1>
		<div class="collapsible expanded">
		{% for type in task_types %}
			<h2>{{ type }}</h2>
			<div class="collapsible expanded">
				<table class="table table-condensed table-striped reports">
					<tbody>
			{% for main_task in main_tasks %}
				{% if main_task.get_task_type == type %}
						<tr>
							<td class="report-title"><a class="report-link" href="{% url 'reports' pk=main_task.pk %}"><strong>{{ main_task.title }}</strong></a></td>
							<td>
								<span data-task="{{ main_task.pk }}" class="status label {{ main_task.get_task_status }}">{{ main_task.get_task_status }}</span>
							</td>

						</tr>
				{% endif %}
			{% endfor %}
					</tbody>

				</table>
			</div>
		{% endfor %}
		</div>

{% endfor %}
	</div>
</div>
<div class="status-container">
	<select id="status-select">
		<option value="opn">Open</option>
		<option value="lck">Locked</option>
		<option value="fin">Finalized</option>
		<option value="acc">Accepted</option>
	</select>
	<button id="status-ok">Ok</button>
</div>								
{% endblock %}