{% extends 'base.html' %}
{% load core_extra %}
{% block content %}




<div class="wide container">
	
	<div class="report container">



<ul>
<li class="report-element objective">
<div id="edit-menu"></div>
<h1 data-level="0" data-taskid="{{ head_task.pk}}" contenteditable="false" class="bigtext collapser" name="title">{{ head_task.order }}. {{ head_task.title }}</h1>

<div class="element-content clearfix">

					<div class="report-description">{{ head_task.description }}</div>

				
					<div id="{{ head_task.pk }}" class="details-container">
						<div class="for-edit report-title">
							<input type="text" value="{{ head_task.title }}" name=""><label> Report title</label>
						</div> 

						<div class="for-edit report-description">
							<input type="text" value="{{ head_task.description }}" name=""><label> Report description</label>
						</div>
									<hr/>
				{% if head_task.keywords %}
							<div class="details details-right">
								<div class="details-description">Keywords</div>
								<div class="for-info keywords">
								{% for keyword in head_task.keywords.all %}
									<span id="keyword{{ keyword.pk }}" class="keyword">{{ keyword.name }}</span>
								{% endfor %}
								</div>
								<div class="for-edit keywords">
									{% for keyword in head_task.keywords.all %}
										<span data-id="{{ keyword.pk }}" class="keyword keywords"><i class="fa fa-times key" aria-hidden="true"></i>{{ keyword.name }}</span>
									{% endfor %}
									<input class="keyword-input" type="" name=""><button class="add-keyword">Add keyword</button>
								</div>
							</div>
				{% endif %}
				{% if head_task.additional_activity %}
							<div class="details details-right">
								<div class="details-description">Additional activity</div>
								<div class="for-info activity">{% for activity in head_task.additional_activity.all %}<p class="additional-activity{{activity.pk}}">{{ activity.title }}</p>{% endfor %}</div>
								<div class="for-edit activity">
								<i class="fa fa-plus add-activity" aria-hidden="true"></i>
								{% for activity in head_task.additional_activity.all %}<p id="activity-select{{activity.pk}}" class="additional-activity-select"><span>{{ activity.title }}</span> <i class="fa fa-times delete-activity" aria-hidden="true"></i> </p>{% endfor %}
									
								</div>
							</div>
				{% endif %}
				{% for detail in head_task.details.all %}
						{% if detail.task_date %}
							<div class="details details-left">
									<div class="for-info date">
										<div class="details-description">{{ detail.description }}</div>
										<div class="details-date">{{ detail.task_date }}</div>
									</div>
									<div data-pk="{{ detail.pk }}" class="for-edit date">
										<i class="fa fa-times detail" aria-hidden="true"></i>
										<input class="date-description" value="{{ detail.description }}" type="text" name="">
										<input class="date-input" id="datepicker{{ detail.pk }}" data-value="{{ detail.task_date|date:'c' }}" style='border: 1px solid; width: 100px; height: 25px;'>
									</div>
							</div>
						{% endif %}
						{% if detail.number %}
							<div class="details details-left">
								<div class="for-info number">
									<div class="details-description">{{ detail.description }}</div>
									<div class="details-number">{{ detail.number }}</div>
								</div>
								<div data-pk="{{ detail.pk }}" class="for-edit number">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="number-description" type="text" value="{{ detail.description }}">
									<input class="number-input" type="text" value="{{ detail.number }}">
								</div>
							</div>
						{% endif %}
						{% if detail.text %}
							<div class="details details-right">
							<div class="for-info text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-text">{{ detail.text}}</div>
							</div>
								<div data-pk="{{ detail.pk }}" class="for-edit text">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="text-description" type="text" value="{{ detail.description }}">
									<textarea class="text-input" type="text" value="{{ detail.text }}"></textarea>
								</div>
							</div>
						{% endif %}
						{% if detail.long_text %}
							<div class="details details-right">
							<div class="for-info long-text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-long-text">{{ detail.long_text}}</div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit long-text">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="long-text-description" type="text" value="{{ detail.description }}">
									<textarea class="long-text-input" type="text">{{ detail.long_text }}</textarea>
							</div>
							</div>
						{% endif %}
						{% if detail.attachment %}
							<div class="details details-right">
							<div class="for-info attachment">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-attachment"><a href="{{ detail.attachment.url }}">{{ detail.attachment_name }}</a></div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit attachment">
								<i class="fa fa-times detail" aria-hidden="true"></i>
								<input class="attachment-description" value="{{ detail.description }}" type="text" name="">
								<input class="attachment-input" type="file" name="attachment">
							</div>
							</div>
						{% endif %}

				{% endfor %}
				</div>


	<!--LIST-->
	<ul class="element-list strategy-list ui-sortable">
{% for task in tasks %}
		<li class="report-element objective">
		<div id="edit-menu"></div>
			<h2 data-level="1" data-taskid="{{ task.pk}}" class="collapser" contenteditable='false'>{{ task.order }}. {{ task.title }}</h2>

			<div class="element-content clearfix">

					<div class="report-description">{{ task.description }}</div>
					<div data-task="{{ task.pk }}" class="status {{ task.get_task_status }}">{{ task.get_task_status }}</div>
				
					<div id="{{ task.pk }}" class="details-container">
						<div class="for-edit report-title">
							<input type="text" value="{{ task.title }}" name=""><label> Report title</label>
						</div> 

						<div class="for-edit report-description">
							<input type="text" value="{{ task.description }}" name=""><label> Report description</label>
						</div>
									<hr/>
				{% if task.keywords %}
							<div class="details details-right">
								<div class="details-description">Keywords</div>
								<div class="for-info keywords">
								{% for keyword in task.keywords.all %}
									<span id="keyword{{ keyword.pk }}" class="keyword">{{ keyword.name }}</span>
								{% endfor %}
								</div>
								<div class="for-edit keywords">
									{% for keyword in task.keywords.all %}
										<span data-id="{{ keyword.pk }}" class="keyword keywords"><i class="fa fa-times key" aria-hidden="true"></i>{{ keyword.name }}</span>
									{% endfor %}
									<input class="keyword-input" type="" name=""><button class="add-keyword">Add keyword</button>
								</div>
							</div>
				{% endif %}
				{% if task.additional_activity %}
							<div class="details details-right">
								<div class="details-description">Additional activity</div>
								<div class="for-info activity">{% for activity in task.additional_activity.all %}<p class="additional-activity{{activity.pk}}">{{ activity.title }}</p>{% endfor %}</div>
								<div class="for-edit activity">
								<i class="fa fa-plus add-activity" aria-hidden="true"></i>
								{% for activity in task.additional_activity.all %}<p id="activity-select{{activity.pk}}" class="additional-activity-select"><span>{{ activity.title }}</span> <i class="fa fa-times delete-activity" aria-hidden="true"></i> </p>{% endfor %}
									
								</div>
							</div>
				{% endif %}
				{% for detail in task.details.all %}
						{% if detail.task_date %}
							<div class="details details-left">
									<div class="for-info date">
										<div class="details-description">{{ detail.description }}</div>
										<div class="details-date">{{ detail.task_date }}</div>
									</div>
									<div data-pk="{{ detail.pk }}" class="for-edit date">
										<i class="fa fa-times detail" aria-hidden="true"></i>
										<input class="date-description" value="{{ detail.description }}" type="text" name="">
										<input class="date-input" id="datepicker{{ detail.pk }}" data-value="{{ detail.task_date|date:'c' }}" style='border: 1px solid; width: 100px; height: 25px;'>
									</div>
							</div>
						{% endif %}
						{% if detail.number %}
							<div class="details details-left">
								<div class="for-info number">
									<div class="details-description">{{ detail.description }}</div>
									<div class="details-number">{{ detail.number }}</div>
								</div>
								<div data-pk="{{ detail.pk }}" class="for-edit number">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="number-description" type="text" value="{{ detail.description }}">
									<input class="number-input" type="text" value="{{ detail.number }}">
								</div>
							</div>
						{% endif %}
						{% if detail.text %}
							<div class="details details-right">
							<div class="for-info text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-text">{{ detail.text}}</div>
							</div>
								<div data-pk="{{ detail.pk }}" class="for-edit text">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="text-description" type="text" value="{{ detail.description }}">
									<textarea class="text-input" type="text" value="{{ detail.text }}"></textarea>
								</div>
							</div>
						{% endif %}
						{% if detail.long_text %}
							<div class="details details-right">
							<div class="for-info long-text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-long-text">{{ detail.long_text}}</div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit long-text">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="long-text-description" type="text" value="{{ detail.description }}">
									<textarea class="long-text-input" type="text">{{ detail.long_text }}</textarea>
							</div>
							</div>
						{% endif %}
						{% if detail.attachment %}
							<div class="details details-right">
							<div class="for-info attachment">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-attachment"><a href="{{ detail.attachment.url }}">{{ detail.attachment_name }}</a></div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit attachment">
								<i class="fa fa-times detail" aria-hidden="true"></i>
								<input class="attachment-description" value="{{ detail.description }}" type="text" name="">
								<input class="attachment-input" type="file" name="attachment">
							</div>
							</div>
						{% endif %}

				{% endfor %}
				</div>
			<ul class="element-list strategy-list ui-sortable" data-listtype="strategy">





				{% for subtask in task.related_task.all %}
				<li class="report-element not-editing locked parent-locked scope-admin  strategy expanded " data-faclass="expanded locked parent-locked scope-admin ">
					<div id="edit-menu"></div>

					<h3 data-level="2" data-taskid="{{ subtask.pk}}" class="editable collapser" data-name="title">{{ subtask.order }}. {{ subtask.title }}</h3>

					<div class="element-content show clearfix">
						<div class="report-description">{{ subtask.description }}</div>
						<div data-task="{{ subtask.pk }}" class="status {{ subtask.get_task_status }}">{{ subtask.get_task_status }}</div>
					
						<div id="{{ subtask.pk }}" class="details-container">
							<div class="for-edit report-title">
								<input type="text" value="{{ subtask.title }}" name=""><label> Report title</label>
							</div> 

							<div class="for-edit report-description">
								<input type="text" value="{{ subtask.description }}" name=""><label> Report description</label>
							</div>
										<hr/>
				{% if subtask.keywords %}
							<div class="details details-right">
								<div class="details-description">Keywords</div>
								<div class="for-info keywords">
								{% for keyword in subtask.keywords.all %}
									<span id="keyword{{ keyword.pk }}" class="keyword">{{ keyword.name }}</span>
								{% endfor %}
								</div>
								<div class="for-edit keywords">
									{% for keyword in subtask.keywords.all %}
										<span data-id="{{ keyword.pk }}" class="keyword keywords"><i class="fa fa-times key" aria-hidden="true"></i>{{ keyword.name }}</span>
									{% endfor %}
									<input class="keyword-input" type="" name=""><button class="add-keyword">Add keyword</button>
								</div>
							</div>
				{% endif %}
				{% if subtask.additional_activity %}
							<div class="details details-right">
								<div class="details-description">Additional activity</div>
								<div class="for-info activity">{% for activity in subtask.additional_activity.all %}<p class="additional-activity{{activity.pk}}">{{ activity.title }}</p>{% endfor %}</div>
								<div class="for-edit activity">
								{% for activity in subtask.additional_activity.all %}<p id="activity-select{{activity.pk}}" class="additional-activity-select"><span>{{ activity.title }}</span> <i class="fa fa-times delete-activity" aria-hidden="true"></i> </p>{% endfor %}<i class="fa fa-plus add-activity" aria-hidden="true"></i>
									
								</div>
							</div>
				{% endif %}
				{% for detail in subtask.details.all %}
						{% if detail.task_date %}
							<div class="details details-left">
									<div class="for-info date">
										<div class="details-description">{{ detail.description }}</div>
										<div class="details-date">{{ detail.task_date }}</div>
									</div>
									<div data-pk="{{ detail.pk }}" class="for-edit date">
										<i class="fa fa-times detail" aria-hidden="true"></i>
										<input class="date-description" value="{{ detail.description }}" type="text" name="">
										<input class="date-input" id="datepicker{{ detail.pk }}" data-value="{{ detail.task_date|date:'c' }}" style='border: 1px solid; width: 100px; height: 25px;'>
									</div>
							</div>
						{% endif %}
						{% if detail.number %}
							<div class="details details-left">
								<div class="for-info number">
									<div class="details-description">{{ detail.description }}</div>
									<div class="details-number">{{ detail.number }}</div>
								</div>
								<div data-pk="{{ detail.pk }}" class="for-edit number">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="number-description" type="text" value="{{ detail.description }}">
									<input class="number-input" type="text" value="{{ detail.number }}">
								</div>
							</div>
						{% endif %}
						{% if detail.text %}
							<div class="details details-right">
							<div class="for-info text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-text">{{ detail.text}}</div>
							</div>
								<div data-pk="{{ detail.pk }}" class="for-edit text">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="text-description" type="text" value="{{ detail.description }}">
									<textarea class="text-input" type="text" value="{{ detail.text }}"></textarea>
								</div>
							</div>
						{% endif %}
						{% if detail.long_text %}
							<div class="details details-right">
							<div class="for-info long-text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-long-text">{{ detail.long_text}}</div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit long-text">
								<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="long-text-description" type="text" value="{{ detail.description }}">
									<textarea class="long-text-input" type="text">{{ detail.long_text }}</textarea>
							</div>
							</div>
						{% endif %}
						{% if detail.attachment %}
							<div class="details details-right">
							<div class="for-info attachment">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-attachment"><a href="{{ detail.attachment.url }}">{{ detail.attachment_name }}</a></div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit attachment">
								<i class="fa fa-times detail" aria-hidden="true"></i>
								<input class="attachment-description" value="{{ detail.description }}" type="text" name="">
								<input class="attachment-input" type="file" name="attachment">
							</div>
							</div>
						{% endif %}

				{% endfor %}
							</div>

					<ul class="element-list activity-list">





					{% for subsubtask in subtask.related_task.all %}
							<li class="report-element not-editing locked parent-locked scope-admin  activity expanded">
								<div id="edit-menu"></div>
								<h4 data-level="3" data-taskid="{{ subsubtask.pk}}" class="collapser">{{ subsubtask.order }}. {{ subsubtask.title }}</h4>
								<div class="element-content clearfix">
									<div class="report-description">{{ subsubtask.description }}</div>
									<div data-task="{{ subsubtask.pk }}" class="status {{ subsubtask.get_task_status }}">{{ subsubtask.get_task_status }}</div>
								
									<div id="{{ subsubtask.pk }}" class="details-container">
										<div class="for-edit report-title">
											<input type="text" value="{{ subsubtask.title }}" name=""><label> Report title</label>
										</div> 

										<div class="for-edit report-description">
											<input type="text" value="{{ subsubtask.description }}" name=""><label> Report description</label>
										</div>
													<hr/>
				{% if subsubtask.keywords %}
							<div class="details details-right">
								<div class="details-description">Keywords</div>
								<div class="for-info keywords">
								{% for keyword in subsubtask.keywords.all %}
									<span id="keyword{{ keyword.pk }}" class="keyword">{{ keyword.name }}</span>
								{% endfor %}
								</div>
								<div class="for-edit keywords">
									{% for keyword in subsubtask.keywords.all %}
										<span data-id="{{ keyword.pk }}" class="keyword keywords"><i class="fa fa-times key" aria-hidden="true"></i>{{ keyword.name }}</span>
									{% endfor %}
									<input class="keyword-input" type="" name=""><button class="add-keyword">Add keyword</button>
								</div>
							</div>
				{% endif %}
				{% if subsubtask.additional_activity %}
							<div class="details details-right">
								<div class="details-description">Additional activity</div>
								<div class="for-info activity">{% for activity in subsubtask.additional_activity.all %}<p class="additional-activity{{activity.pk}}">{{ activity.title }}</p>{% endfor %}</div>
								<div class="for-edit activity">
								{% for activity in subsubtask.additional_activity.all %}<p id="activity-select{{activity.pk}}" class="additional-activity-select"><span>{{ activity.title }}</span> <i class="fa fa-times delete-activity" aria-hidden="true"></i> </p>{% endfor %}<i class="fa fa-plus add-activity" aria-hidden="true"></i>
									
								</div>
							</div>
				{% endif %}
				{% for detail in subsubtask.details.all %}
						{% if detail.task_date %}
							<div class="details details-left">
								<div class="for-info date">
									<div class="details-description">{{ detail.description }}</div>
									<div class="details-date">{{ detail.task_date }}</div>
								</div>
								<div data-pk="{{ detail.pk }}" class="for-edit date">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="date-description" value="{{ detail.description }}" type="text" name="">
									<input class="date-input" id="datepicker{{ detail.pk }}" data-value="{{ detail.task_date|date:'c' }}" style='border: 1px solid; width: 100px; height: 25px;'>
								</div>
							</div>
						{% endif %}
						{% if detail.number %}
							<div class="details details-left">
								<div class="for-info number">
									<div class="details-description">{{ detail.description }}</div>
									<div class="details-number">{{ detail.number }}</div>
								</div>
								<div data-pk="{{ detail.pk }}" class="for-edit number">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="number-description" type="text" value="{{ detail.description }}">
									<input class="number-input" type="text" value="{{ detail.number }}">
								</div>
							</div>
						{% endif %}
						{% if detail.text %}
							<div class="details details-right">
							<div class="for-info text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-text">{{ detail.text}}</div>
							</div>
								<div data-pk="{{ detail.pk }}" class="for-edit text">
									<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="text-description" type="text" value="{{ detail.description }}">
									<textarea class="text-input" type="text" value="{{ detail.text }}"></textarea>
								</div>
							</div>
						{% endif %}
						{% if detail.long_text %}
							<div class="details details-right">
							<div class="for-info long-text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-long-text">{{ detail.long_text}}</div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit long-text">
								<i class="fa fa-times detail" aria-hidden="true"></i>
									<input class="long-text-description" type="text" value="{{ detail.description }}">
									<textarea class="long-text-input" type="text">{{ detail.long_text }}</textarea>
							</div>
							</div>
						{% endif %}
						{% if detail.attachment %}
							<div class="details details-right">
							<div class="for-info attachment">
								<div class="details-description">{{ detail.description }}</div>
								<div class=details-attachment><a href="{{ detail.attachment.url }}">{{ detail.attachment_name }}</a></div>
							</div>
							<div data-pk="{{ detail.pk }}" class="for-edit attachment">
								<i class="fa fa-times detail" aria-hidden="true"></i>
								<input class="attachment-description" value="{{ detail.description }}" type="text" name="">
								<input class="attachment-input" type="file" name="attachment">
							</div>
							</div>
						{% endif %}

				{% endfor %}
									</div>

								</div>
							</li>
						{% endfor %}
						</ul>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
		</li>

{% endfor %}
	</ul>		
			
</div>
</li>
</ul>
</div>
</div>









<!--EDIT BUTTONS-->
	<div class="floating-actions pinned" style="z-index: 888888; width: 200px; display: block;">

		<span class="additional-button-set hidden" id='additional-button-set'>
			<button class="set-button left-button" role="button" aria-disabled="false" title="Save">
				<i class="fa fa-floppy-o" aria-hidden="true"></i>
			</button>
			<button class="set-button right-button" role="button" aria-disabled="false" title="Cancel" style="z-index: auto;">
				<i class="fa fa-ban" aria-hidden="true"></i>
			</button>
		</span>
		<span id='edit-button-set' class="edit-button-set hidden">
			<button class="set-button right-button" role="button" aria-disabled="false" title="Edit" style="z-index: auto;">
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</button>
		</span>


		<ul class="fa-dropdown-view" style="z-index: 999999; display: none; opacity: 1;">
			<li>
				<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
					<span class="ui-button-text">Expand All</span>
				</button>
			</li>
			<li>
				<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
					<span class="ui-button-text">Collapse All</span>
				</button>
			</li>
			<li>
				<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
					<span class="ui-button-text">Get Link to this Report</span>
				</button>
			</li>

			</ul>

			<ul class="fa-dropdown-edit">
				<li class="add-report-button">
					<button class="ui-button" role="button" aria-disabled="false">
						<span class="ui-button-text">Add new report</span>
					</button>
				</li>
				<li class="add-field-button">
					<button class="ui-button" role="button" aria-disabled="false">
						<span class="ui-button-text">Add new field</span>
					</button>
				</li>
				<li class="delete-button">
					<button class="ui-button" role="button" aria-disabled="false">
						<span class="ui-button-text">Delete report</span>
					</button>
				</li>
			</ul>


		
	</div>
	<div style="display:none;" class="add-menu">
				<ul class="fa-dropdown-add">
					<li class="add-field">
						<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only number-btn" role="button" aria-disabled="false">
							<span class="ui-button-text">Number</span>
						</button>
					</li>
					<li class="add-field">
						<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only date-btn" role="button" aria-disabled="false">
							<span class="ui-button-text">Date</span>
						</button>
					</li>
					<li class="add-field">
						<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only text-btn" role="button" aria-disabled="false">
							<span class="ui-button-text">Text</span>
						</button>
					</li>
					<li class="add-field">
						<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only long-text-btn" role="button" aria-disabled="false">
							<span class="ui-button-text">Long text</span>
						</button>
					</li>
					<li class="add-field">
						<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only attachment-btn" role="button" aria-disabled="false">
							<span class="ui-button-text">Attachment</span>
						</button>
					</li>
				</ul>
			</div>


			<div id="new-report">
				<p>New report creation</p>
				<form id="new-report-form">
					{% csrf_token %}
					<div>
					<label>Title</label><input type="text" id="new-report-title" name="">
					</div>
					<div>
					<label>Description</label><input type="text" id="new-report-description" name="">
					</div>
					<div>
						<button id="create-report-btn" type='button'>Add new report</button>
					</div>
				</form>
			</div>






<div id="warning"><p></p>
<div class="warning-buttons"><button id="warning-ok">Ok</button><button id="warning-cancel">Cancel</button></div>
</div>
<div class="reports-container-list"></div>
<div class="status-container">
	<select id="status-select">
		<option value="opn">Open</option>
		<option value="lck">Locked</option>
		<option value="fin">Finalized</option>
		<option value="acc">Accepted</option>
	</select>
	<button id="status-ok">Ok</button>
</div>
{% endblock %}


