<li class="report-element objective">
		<div id="edit-menu"></div>
			{% if level == 1 %}
			<h2 data-level="{{ level }}" data-taskid="{{ task.pk}}" class="collapser disabled" contenteditable='false'>{{ task.order }}. {{ task.title }}</h2>
			{% elif level == 2 %}
			<h3 data-level="{{ level }}" data-taskid="{{ task.pk}}" class="collapser disabled" contenteditable='false'>{{ task.order }}. {{ task.title }}</h3>
			{% else %}
			<h4 data-level="{{ level }}" data-taskid="{{ task.pk}}" class="collapser disabled" contenteditable='false'>{{ task.order }}. {{ task.title }}</h4>
			{% endif %}
			<div class="element-content clearfix">
				<div class="task-description">{{ task.description }}</div>
					<div id="{{ task.pk }}" class="details-container">

				{% if task.keywords %}
							<div class="details details-right">
								<div class="details-description">Keywords</div>
								<div class="for-info keywords">{{ task.keywords }}</div>
								<input class="for-edit keywords" value="{{ task.keywords }}" type="text" name="">
							</div>
				{% endif %}
				{% if task.additional_activity %}
							<div class="details details-right">
								<div class="details-description">Additional activity</div>
								<div class="for-info">{% for activity in task.additional_activity.all %}{{ activity.title }}{% endfor %}</div>
								<div class="for-edit activity">
								{% for activity in task.additional_activity.all %}<p id="activity-select" class="additional-activity-select"><span>{{ activity.title }}</span> <i class="fa fa-times" aria-hidden="true"></i> </p>{% endfor %}<i class="fa fa-plus" aria-hidden="true"></i>
									
								</div>
							</div>
				{% endif %}
				{% for detail in task.details.all %}
						{% if detail.task_date %}
							<div class="details details-left">
									<div class="for-info date">
										<div class="details-description">{{ detail.description }}</div>
										<div class="details-date">{{ detail.task_date }}</div>
									</div>
									<div class="for-edit date">
										<input class="date-description" value="{{ detail.description }}" type="text" name="">
										<input class="date-input" id="datepicker{{ task.pk }}" data-value="{{ detail.task_date|date:'c' }}" style='border: 1px solid; width: 100px; height: 25px;'>
									</div>
							</div>
						{% endif %}
						{% if detail.number %}
							<div class="details details-left">
								<div class="for-info number">
									<div class="details-description">{{ detail.description }}</div>
									<div class="details-number">{{ detail.number }}</div>
								</div>
								<div class="for-edit number">
									<input class="number-description" type="text" value="{{ detail.description }}">
									<input class="number-input" type="text" value="{{ detail.number }}">
								</div>
							</div>
						{% endif %}
						{% if detail.text %}
							<div class="details details-right">
							<div class="for-info text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-text">{{ detail.text}}</div>
							</div>
								<div class="for-edit text">
									<input class="text-description" type="text" value="{{ detail.description }}">
									<textarea class="text-input" type="text" value="{{ detail.text }}"></textarea>
								</div>
							</div>
						{% endif %}
						{% if detail.long_text %}
							<div class="details details-right">
							<div class="for-info long-text">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-long-text">{{ detail.long_text}}</div>
							</div>
							<div class="for-edit long-text">
									<input class="long-text-description" type="text" value="{{ detail.description }}">
									<textarea class="long-text-input" type="text">{{ detail.long_text }}</textarea>
							</div>
							</div>
						{% endif %}
						{% if detail.attachment %}
							<div class="details details-right">
							<div class="for-info attachment">
								<div class="details-description">{{ detail.description }}</div>
								<div class="details-attachment">{{ detail.attachment}}</div>
							</div>
							<div class="for-edit attachment">
								<input class="attachment-description" value="{{ detail.description }}" type="text" name="">
								<input class="attachment-input" type="file" name="attachment">
							</div>
							</div>
						{% endif %}

				{% endfor %}
				</div>
			<ul class="element-list strategy-list ui-sortable" data-listtype="strategy"></ul>
			</div>
		</li>