.field label {
	color: #666;
}

/* Reports */
ul.report-list {
}
li.report-element.report {
	background-color: #fff;
    padding: 60px !important;
}
h1 {
	font-size: 28px;
	color: #444;
	line-height: 1em;
}

/* Objectives */
li.report-element.objective {
	background-color: #f2f2ff;
	border: 1px solid #dde5f4;
}
h2 {
	font-size: 21px;
	color: #3374F0;
	background-color: #dde5f4;
}
.objective.report-element > textarea.element-title {
	border: 2px solid #85ACF6;
}

/* Strategies */
li.report-element.strategy {
	background-color: #fff8f4;
	border: 1px solid #f2e7db;
	border-bottom-color: #e2d6cb;
}
h3 {
	font-size: 18px;
	color: #C97A28;
	background-color: #f2e7db;
}
.strategy.report-element > textarea.element-title {
	border: 2px solid #E0AF80;
}

/* Activities */
li.report-element.activity {
	background-color: #f4f8f0;
	border: 1px solid #e7f3db;
	border-bottom-color: #d6e4cb;
}
h4 {
	font-weight: normal;
	font-size: 14px;
	color: #307511;
	background-color: #e7f3db;
}
.activity.report-element > textarea.element-title {
	border: 2px solid #80AC72;
}

.reorder-placeholder {
	height: 40px;
	background: #ffd;
	border: 1px solid #FFD700;
}

/* Report Admin */
#report_admin {
	padding: 10px 10px 3px 10px;
	border: 1px dashed #ccc;
	margin-bottom: 15px;
	overflow: hidden;
}
#report_admin h5 {
	float: left;
}
#report_admin p {
	text-align: right;
}

/* Additional Supported Picker */
.ad-sup p, .ad-sup a {
	font-size: 14px;
}
.ad-sup ul {
	list-style-type: none;
}
.ad-sup ul.objective-titles {
	margin-left: 0px;
}
.ad-sup p.objective-title {
	margin: 8px 0 2px 0;
	padding-left: 4px;
	color: #3374F0;
	background-color: #dde5f4;
}
.ad-sup p.strategy-title {
	margin: 4px 0 2px 0;
	padding-left: 4px;
	color: #C97A28;
	background-color: #f2e7db;
}
.ad-sup a.activity-title {
	display: block;
	margin: 2px 0 2px 0;
	padding-left: 4px;
	color: #307511;
	background-color: #e7f3db;
}
