@page {
	margin: 0cm;
}

body {
	background-color: #fff;
	margin: 0;
	padding: 0;
}

button, .button, .ui-buttonset, .ui-button {
	display: none !important;
}

div.report-list-container {
	margin-left: 0;
}

ul.report-list {
	margin-left: 0;
}

li.report {
	background-color: #fff;
}

h1.title {
	border-top: 1px solid #aaa;
}

p, td, span {
	font-size: 12pt;
}

.report-section {
	background: transparent !important;
}

.topbar-wrapper {
	display: none;
}

li.report-element {
	border: none !important;
	border-width: 0;
}
.report.container {
	width: 90%;
	padding: 0 !important;
	border-width: 0;
}

.collapsed .element-content {
	display: block !important;
}

h1 {
	border: none !important;
	border-width: 0 !important;
}