/* Hide the report until it is fully loaded */
.report.container {

}

/* General Report Elements */
ul.element-list {
	list-style-type: none;
	margin: 0;
}
li.report-element {
	position: relative;
	margin: 0 10px;
}
li.report-element.expanded {
	margin-bottom: .5em;
	padding-bottom: .5em;
}
li.report-element.report.expanded {
	margin-top: 1.2em;
	margin-bottom: 1.5em;
}
li.report-element.collapsed {
	margin-bottom: 2px;
}
li.report-element.load-collapsed > .element-content {
	display: none;
}
li.report-element.expanded > .element-content {
	display: block;
}
li.report-element.hidden {
	display: none;
}
li.report-element .title {
	/* padding: 2px 4px; */
}
li.report-element span.title,
li.report-element label.title,
li.report-element h1.title.heading,
li.report-element h2.title.heading,
li.report-element h3.title.heading,
li.report-element h4.title.heading {
	cursor: pointer;
	margin: 0;
}
li.report-element label.title {
	margin-bottom: 5px;
}
li.report-element h1.title.heading {
	margin-bottom: 0;
}
li.report-element .title.heading,
li.report-element textarea.title {
	padding: 5px 6px;
	line-height: 1em;
	display: block;
}
li.report-element.activity textarea.element-title {
	box-sizing: border-box;
	width: 100%;
	height: 26px !important;
	padding-right: 20px !important;
}
li.report-element .description {
	font-size: 110%;
	padding: 2px 4px 2px 6px;
	margin: 4px 0 .5em 0;
}
li.report-element .description.empty {
	margin-bottom: .5em;
}
li.report-element .description ul,
li.report-element .description ol {
	margin: .5em 0 1em 25px;
}

/* Fields */
ul.field-list {
	list-style-type: none;
	margin: 0 0 0 8px;
	min-height: 20px;
}
ul.field-list.empty {
	display: none;
}
ul.field-list.column-1 {
	width: 28%;
	margin-left: 2%;
	margin-right: 2%;
}
ul.field-list.column-2 {
	width: 64%;
	margin-left: 2%;
}
ul.field-list.full-width {
	width: 96%;
}
li.field {
	margin-bottom: 2em;
}
li.field label, span.label, span.title {
	font-weight: bold;
	font-size: 13.5px;
	text-align: left;
}

li.field ul,
li.field ol {
	margin-bottom: 1em;
}

.not-editing > .element-content > .field-list .select-container,
.not-editable-field > .select-container,
.not-editing > .element-content > .field-list .multiselect-container {
	display: none;
}
.column-1 .select-container select {
	width: 168px;
	margin-bottom: 0px;
}
.column-1 .multiselect-container select {
	width: 160px;
	margin-bottom: 0px;
}

.file-list li {
	line-height: 1.2;
	word-wrap: break-word;
	padding-bottom: .8em;
}
a.add-file, a.delete-file {
	display: none;
}
.editing a.add-file {
	display: block;
}
.editing a.delete-file {
	display: inline;
	border: 1px solid #f44;
	color: #f44;
	background-color: #fdd;
	padding: 0px 4px;
	border-radius: 2px;
	position: relative;
	left: -4px;
}
.editing .file-list {
	list-style-type: none;
	margin-left: 10px;
	margin-bottom: .6em;
}


.reorder-placeholder {
	height: 40px;
	background: #ffd;
	border: 1px solid #FFD700;
}

/* Comments */
.comment,
.comment-indicator {
	background: rgb(252, 250, 198);
	border: 1px solid rgb(255, 229, 114);
	padding: 10px;
	list-style: none;
	position: absolute;
	width: 180px;
	-webkit-box-shadow:  2px 2px 2px 1px rgba(100, 100, 100, .2);
	box-shadow:  2px 2px 2px 1px rgba(100, 100, 100, .2);
	z-index: 99;
}

.comment-settings-dialog ul {
	list-style: none;
}
.comment-settings-dialog li {
	margin: .4em 0;
}
.comment-settings-dialog label {
	display: inline;
	padding-left: 4px;
}
.comment-settings-dialog .btn-container {
	margin: 1.4em 0 .5em 0;
	text-align: center;
}
.comment-indicator {
	padding: 2px;
	right: -20px;
	top: 6px;
	width: 10px;
	height: 10px;
	font-size: 10px;
	line-height: 1;
	text-align: center;
}
.report-element.expanded > .comment-indicator {
	display: none;
}

#hidden-elements {
	display: none;
}

div.value {
	line-height: 1.4;
}

div.supporter {
	display: none;
}
div.additional-supported-field.value {
	cursor: pointer;
	color: #0088CC;
}
div.additional-supported-field.value:hover {
	text-decoration: underline;
	color: #005580;
}
.support-indicator {
	border: 2px solid #FFCB6E !important;
}
.support-indicator.field {
	background: #EAD8B8;
	padding: 2px;
	position: relative;
	top: -4px;
	left: -4px;
}
.activity-supporter {
	display: block;
	line-height: 1em;
	padding: 0px 6px;
	background-color: #F7FFF3;
	margin: 2px 10px;
	border: 1px solid #FFE4B3;
}
.activity-supporter a {
	display: block;
	line-height: 1em;
	padding: 5px;
}

/* INPUTS */
input.text, textarea {
/*	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;*/
	display: block;
/*	line-height: 1.4; IE + autoresize CAN'T HANDLE LINE HEIGHTS?!?!*/
	border: 1px solid #ffdd99;
	width: 98.5%;
	margin: 0;
	border: 1px solid #ccc;
/*	background: transparent; */
	background: #fff !important;
	/*
	background-color: #fffd7e;
	background-image: -webkit-gradient(linear, left top, left bottom, to(rgba(255, 253, 126, 0.1)), from(rgba(238, 255, 140, 0.1)));
	background-image: -webkit-linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	background-image: -moz-linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	background-image: -o-linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	background-image: -ms-linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	background-image: linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#11fffd7e', EndColorStr='#11eeff8c');
	*/
}
span.value, div.value,
input.value, textarea.value {
	display: block;
	width: 97.5%;
	padding: 3px 2px 3px 10px;
}
.selected-options-list {
	padding-left: 10px;
}

.chzn-container-multi .chzn-choices .search-choice {
	margin-left: 2px;
	margin-right: 2px;
}
.multiselect-container .chzn-container ul.chzn-choices {
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

textarea.value {
	width: 98.2%;
}
textarea.title, input.title, label.title {
	font-weight: bold;
	width: 98%;
}
.field textarea.title {
	border-bottom-width: 0;
	width: 99.2%;
}
.attachments.field textarea.title,
.keywords.field textarea.title {
	border-bottom-width: 1px;
}

.comment textarea.title {
	width: 94%;
}
.comment textarea.value {
	width: 92%;
}

label.title {
	float: none;
}
textarea.title {
	padding: 4px !important;
}
textarea.report.title {
	margin-bottom: .5em;
}
li.report-element textarea.description {
	padding: 2px 4px 4px 4px;
	margin-bottom: 1.3em;
}
input.keywords-field {
	display: none;
}
div.tagsinput div input {
	border: 1px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.popover-inner {
	width: 420px;
}
.tagsinput .popover {
	max-width: 420px;
}
h3.popover-title {
	color: #888;
}
.pop-tags a {
	line-height: 1.2;
	padding: 2px 4px;
	border: 1px solid #ddddaa; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius: 2px; display: block; float: left; padding: 3px 5px; text-decoration:none; background: #ffffc8; color: #808080; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;
	white-space: nowrap
}


/* FLOATING ACTIONS MENU */
.floating-actions, .edit-actions {
	width: 76px;
	text-align: right;
	position: absolute;
	display: none;
	overflow: visible !important;
	z-index: 110;
}
.floating-actions.pinned {
	z-index: 100 !important;
	right: auto;
	left: -200px;
}
.comment .floating-actions.pinned {
	right: auto;
	left: -190px;
	top: 10px;
}
.floating-actions .button-set {
	text-align: right;
}
.floating-actions ul {
	display: none;
	list-style-type: none;
	text-align: right;
	position: absolute;
	overflow: visible;
	z-index: 1000 !important;
	margin-top: 0 !important;
}
.floating-actions.element-menu ul {
/*	left: -66px;*/
	right: 6px;
}
.floating-actions ul li button {
	text-align: left;
/*	width: 146px;*/
	width: 140px;
	margin: 0;
	z-index: 1000 !important;
	font-size: 11px;
}

.floating-actions ul.fa-dropdown-view li button {
	width: 166px !important;
}

.floating-actions.activity-menu ul li button {
	width: 125px;
}
.floating-actions.activity-menu ul.fa-dropdown-view li button {
/*	width: 166px !important	;*/
	width: 160px !important;
}

.floating-actions.locked .lock-button{
	display: none;
}

.floating-actions .add-supported-button
{
	display: none;
}

.floating-actions.open .unlock-button {
	display: none !important;
}
.floating-actions.pinned .lock-button,
.floating-actions.pinned .unlock-button {
	display: none;
}


.field-menu {
	width: 50px;
}

.field-menu .ui-button-icon-only .ui-button-text {
	height: 10px;
}

.field-types-dialog {
	
}
.field-types-dialog ul {
	margin: 0 auto;
	/* width: 126px; */
	width: 170px;
	list-style-type: none;
}
.field-types-dialog ul li {
	list-style: none;
}
.field-types-dialog button {
	/* width: 120px; */
	width: 168px;
}

.comment-menu {
	width: 110px;
}
button.comment-actions .ui-icon {
	left: 45%;
}

.comment-menu .ui-button-icon-only .ui-button-text {
	height: 10px;
}

.report-element .element-menu {
	position: absolute;
	right: -8px;
	top: -1px;
}


/* Status Indicators */
.lock-status {
	position: absolute;
	right: -24px;
	top: -1px;
	width: 20px;
	height: 20px;
}

.open > .lock-status {
		background: url('http://reboot.mypad.in/assets/modules/report/unlocked-icon.png') no-repeat;
}
.locked > .lock-status {
	display: none;	background: url('http://reboot.mypad.in/assets/modules/report/locked-icon.png') no-repeat;
}

.report.container .alert-message > p {
	padding: 16px;
	color: white;
}

/* Element Links */
input.element-link {
	width: 98%;
	margin-top: 1.5em;
	font-size: 18px;
	padding: 6px 4px;
	line-height: 1.6;
}

.visuallyhidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px; width: 1px;
	margin: -1px; padding: 0; border: 0;
}