body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #E0DBDB;
}
a {
	display: block;
	color: #08c;
	text-decoration: none;
}
h1 {
    font-size: 28px;
    color: #444;
    line-height: 1em;
}
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.navbar-fixed-top{
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-bottom: 0;
	top: 0;
	overflow: visible;
}

.navbar-inverse .navbar-inner {
    background-color: #1b1b1b;
    background-image: -moz-linear-gradient(top, #222222, #111111);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
    background-image: -webkit-linear-gradient(top, #222222, #111111);
    background-image: -o-linear-gradient(top, #222222, #111111);
    background-image: linear-gradient(to bottom, #222222, #111111);
    background-repeat: repeat-x;
    border-color: #252525;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.menu-block	{
	display: inline-block;
	position: relative;
}
.container {
    width: 940px;
    margin: auto;
	background-color: #fff;
	position: relative;
}
.reports-list {
	margin-top: 80px;
}
.navbar .nav.pull-right {
    position: absolute;
    right: 10px;
    display: inline-block;
}
.navbar .nav {
    position: absolute;
    display: inline-block;
    margin: 0 10px 0 0;
}
.pull-right {
    float: right;
}
.nav {
    margin-bottom: 20px;
    margin-left: 0;
    list-style: none;
}
ul {
    list-style: none;
}
ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}
body, label {
    font-size: 13px;
    line-height: 18px;
}
.navbar .nav > li {

}
.dropup, .dropdown {
    position: relative;
}
.nav {
    list-style: none;
}
.navbar{
	background-color: black
}
li > a {
    color: #999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a {
    padding: 10px 15px 10px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
.navbar-inverse .brand {
    color: #999;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .brand {
    display: inline-block;
    position: relative;
    padding: 10px 20px 10px;
    margin-left: 0px;
    font-size: 20px;
    font-weight: 200;
    color: #777;
    text-shadow: 1px 0px 1px #fff;
}

.reports-list h2 {
    color: #666;
    background-color: #eee;
    margin: .5em 0 .5em 1%;
    padding: 4px 4px;
    line-height: 1;
}

.reports-list h1 {
    margin: .5em 0 .2em;
    background-color: #ddd;
    padding: 2px 4px;
}
.table-condensed th, .table-condensed td {
    padding: 4px 5px;
}
.reports-list .report-title {
    width: 710px;
}
.reports-container {
	padding: 60px;
}
.label{
	display: inline-block;
	padding: 2px 4px;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;
    border-radius: 3px;
}
.label-success {
	background-color: #468847;
}
.label-warning{
	background-color: #f89406;
}
.label-accepted{
	background-color: blue;
}
.btn {
	display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0,0,0,0.05);
}
.btn-mini {
    padding: 0 6px;
    font-size: 10.5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:hover, .btn:focus {
    color: #333;
    background-image: none;
    text-decoration: none;
    background-color: #DFDFDF;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
.report.container {
	margin-top: 60px;
}
.bigtext{
	outline: none;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	display: block;
	line-height: 1.4;
	border: 1px solid #ffdd99;
	width: 98.5%;
	margin: 0;
	border: 1px solid #ccc;
	background: transparent;
	background: #fff !important;
	background-color: #fffd7e;
	background-image: -webkit-gradient(linear, left top, left bottom, to(rgba(255, 253, 126, 0.1)), from(rgba(238, 255, 140, 0.1)));
	background-image: -webkit-linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	background-image: -moz-linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	background-image: -o-linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	background-image: -ms-linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	background-image: linear-gradient(top, rgba(255, 253, 126, 0.1), rgba(238, 255, 140, 0.1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#11fffd7e', EndColorStr='#11eeff8c');
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	height: auto;
	font-size: 28px;
	font-weight: 700;
	color: rgb(68, 68, 68);
	background-color: transparent;
	display: block;
	resize: none;
	overflow-y: hidden;
}
.set-button {
    margin-left: 0;
    margin-right: 0px;
    padding: 4px;
    text-decoration: none;
    width: 30px;
    margin: 0px;
    background: #e6e6e6 url(../img/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    border: 1px solid #d3d3d3;
    font-weight: normal;
    color: #555;
    display: inline-block;
    padding: 0;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
}
.edit-button-set{
	position: absolute;
    z-index: 100;
    left: -35px;
    top: 15px;
}
button.ui-button-icon-only {
    width: 30px;
}
.left-button{
	.border-radius: 4px 0px 0px 4px;
}
.right-button{
	.border-radius: 0px 4px 4px 0px;
}


.set-button:hover{
    color: #333;
    background-image: none;
    text-decoration: none;
    background-color: #DFDFDF;
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.hidden {
	display: none;
}
.collapser {
	cursor: pointer;
}
.details{
	font-size: 14px;
    color: #3F3F3F;
    font-weight: bold;
    margin-top: 5px;

}
.details-description{
	color: #6C6C6C;
}
.details-right{
    width: 65%;
    position: relative;
    right: 0px
}
.details-left{
    width: 35%;

}
.details-container{
	position: relative;
}
.task-description{
	font-size: 16px;
	padding-left: 20px;
}
.for-edit{
	display: none;
}
.fa-dropdown-edit{
	position: absolute;
    left: 0;
    margin: 10px 0;
}
.add-menu{
    display: none;
    text-align: center;
    position: fixed;
    z-index: 1000;
    top: 300px;
    left: calc( 50% - 100px );
    width: 201px;
    background-color: #D2D2D2;
}
.fa-dropdown-add{
    margin: 10px;
}
#new-report{
    display: none;
    position: fixed;
    z-index: 1000;
    top: 300px;
    left: calc( 50% - 200px );
    width: 400px;
    background-color: #D2D2D2;
    text-align: right;
}
#new-report div{
    margin: 5px;
}
#new-report input{
    width: 300px;
}
#new-report p{
    text-align: center;
    font-size: 16px;

}
#new-report label{
    margin-right: 10px;
}
#shadow{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.warning-message{
    color: red;
}
.small{
    font-size: 12px;
}
.input-warning{
    border: red;
}
.add-field button{
    padding: 5px 20px;
    font-size: 14px;
}
.fa-times {
    color: red;
}
.fa-plus{
    color: #64C164;
}
#warning{
    padding: 10px;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 300px;
    left: calc( 50% - 200px );
    width: 400px;
    background-color: #D2D2D2;
    text-align: center;
}
#warning p{
    color: #FF3939;
    font-size: 14px;
}
.keyword{
    padding: 2px 8px;
    background-color: #799CC8;
    border-radius: 8px;
    color: white;
    margin-right: 5px;
}
.reports-container p{
    color: black!important;
    cursor: pointer;
    margin: 5px;
}
.highlighted{
    background-color: #A6A6FF;
}
.additional-activity{
    margin: 2px;
}
.activity p{
    margin: 0 3px;
}
.reports-container-list, .status-container{
    padding: 10px;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 300px;
    left: calc( 50% - 200px );
    width: 400px;
    background-color: #D2D2D2;
    text-align: center;

}
.report-description{
    font-size: 16px;
}
.Open{
    background-color: #F7CE59;
}
.Finalized{
    background-color: #A8DC74;
}
.Locked{
    background-color: #C6C6C6;
}
.Accepted{
    background-color: #B8CAFF;
}
.status {
    cursor: pointer;
    width: 80px;
    text-align: center!important;
    border-radius: 5px;
}
