<div class="details details-right">
		<div class="for-info attachment">
			<div class="details-description">{{ detail.description }}</div>
			<div class=details-attachment>{{ detail.attachment.url }}</div>
		</div>
		<div data-pk="{{ detail.pk }}" class="for-edit attachment">
			<i class="fa fa-times detail" aria-hidden="true"></i>
			<input class="attachment-description" value="{{ detail.description }}" type="text" name="">
			<input class="attachment-input" type="file" name="attachment">
		</div>
</div>