<div class="details details-left">
			<div class="for-info date" style="display:none;">
				<div class="details-description">{{ detail.description }}</div>
				<div class="details-date">{{ detail.task_date }}</div>
			</div>
			<div data-pk="{{ detail.pk }}" class="for-edit date">
			<i class="fa fa-times detail" aria-hidden="true"></i>
				<input class="date-description" value="{{ detail.description }}" type="text" name="">
				<input class="date-input" id="datepicker{{ detail.pk }}" data-value="{{ detail.task_date|date:'c' }}" style='border: 1px solid; width: 100px; height: 25px;'>
			</div>
	</div>