	<div class="details details-right">
	<div class="for-info long-text" style="display:none;">
		<div class="details-description">{{ detail.description }}</div>
		<div class="details-long-text">{{ detail.long_text}}</div>
	</div>
	<div data-pk="{{ detail.pk }}" class="for-edit long-text">
	<i class="fa fa-times detail" aria-hidden="true"></i>
			<input class="long-text-description" type="text" value="{{ detail.description }}">
			<textarea class="long-text-input" type="text">{{ detail.long_text }}</textarea>
	</div>
	</div>