	<div class="details details-left">
				<div style="display:none;" class="for-info number">
					<div class="details-description">{{ detail.description }}</div>
					<div class="details-number">{{ detail.number }}</div>
				</div>
				<div data-pk="{{ detail.pk }}" class="for-edit number">
				<i class="fa fa-times detail" aria-hidden="true"></i>
					<input class="number-description" type="text" value="{{ detail.description }}">
					<input class="number-input" type="text" value="{{ detail.number }}">
				</div>
			</div>