			<div class="details details-right">
			<div style="display:none;" class="for-info text">
				<div class="details-description">{{ detail.description }}</div>
				<div class="details-text">{{ detail.text}}</div>
			</div>
				<div data-pk="{{ detail.pk }}" class="for-edit text">
				<i class="fa fa-times detail" aria-hidden="true"></i>
					<input class="text-description" type="text" value="{{ detail.description }}">
					<textarea class="text-input" type="text" value="{{ detail.text }}"></textarea>
				</div>
			</div>